#accessibleModal {
  background-color: rgb(208, 25, 25);
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#accessibleModal[hidden] {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
}


